# Oracle — conexão da aplicação
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE=FREEPDB1
ORACLE_USER=gp_app
ORACLE_PASSWORD=troque_esta_senha

# Oracle — administração do container
ORACLE_SYS_PASSWORD=troque_esta_senha_admin

# JWT
JWT_SECRET=uma_chave_bem_grande_para_desenvolvimento

# BFF → API Core
CORE_BASE_URL=http://localhost:8080

# JDBC para aplicação executada fora do Docker
ORACLE_URL=jdbc:oracle:thin:@//localhost:1521/FREEPDB1